/* место для вашего кода */
/* Глобальные настройки */
body {
  color: #000;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fff;
}

/* Хедер */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
  max-width: 240px;
}

.address {
  font-style: normal;
  line-height: 1.35;
}

/* Обложка */
.cover {
  position: relative;
  padding: 165px 50px 50px;
  background: url('../images/cover.jpg') center/cover no-repeat;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  padding-right: 60px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Лоты */
.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1 0 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background: center/cover no-repeat;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-position: under;
}

/* Об аукционе */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 50px 180px;
}

.about__column {
  padding-top: 100px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
}

.about__text p:first-child {
  margin-bottom: 25px;
}

/* Футер */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 180px 50px 90px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-list-item {
  margin-bottom: 10px;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}